<div class="container">

<h1 class="mt-5">게시판</h1>
<p>글을 써주세요</p>
<form action="/posts" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input name="title" type="test" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력해주세요">
  </div>
  <div class="form-group">
      <label for="exampleFormControlTextarea1">Contents</label>
      <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <input type="hidden" name = "authenticity_token" value= "<%= form_authenticity_token%>">
  <button type="submit" class="btn btn-primary">작성 완료</button>
</form>

</div>
